body,
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    padding: 20px;
    background-color: chartreuse;
}

.footer {
    flex: 0 0 auto;
    flex-shrink: 0;
    padding: 20px;
    background-color: red;
    border: 1px solid black;
    flex-basis: auto


}

.main-nav {
     margin: 0;
     padding: 0;
    list-style: none;
    display: flex;
    
}

.main-nav li:not(:first-child){
    margin-left: 10px;
}

.main-nav li a {
background-color: royalblue;
color: rgb(255, 255, 255);
text-decoration-line: none;
display: block;
padding: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    background-color: seashell;

}

.elements {
    width: 900px;
    margin: 0 auto;
    background-color: sandybrown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item {
   flex-basis: 250px;
   background-color: seashell;
   margin-bottom: 30px;

}

main {
    flex-grow: 1;
    display: flex;
    margin-top: 1rem;
}

article {
    flex-grow: 1;
    margin-right: 1rem;
    border: 1px solid black;
    overflow-y: auto;
    height: 45rem;
    background-color: rgb(251, 107, 5);

}

aside {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15rem;
    border: 1px solid black;
    background-color: rgb(63, 134, 151);

}

