body,
html {
    height: 100%;
}


header {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    padding: 20px;
    background-color: chartreuse;
}

.footer {
    flex: 0 0 auto;
    flex-shrink: 0;
    padding: 20px;
    background-color: red;
}
